:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /*font chu*/
  line-height: 1.5;
  font-weight: 700;
  color: rgba(
    255,
    255,
    255,
    0.87
  ); /*mau dong chu "khong the tai danh sach phien"*/
  font-size: 25px; /*co chu cua "khong the tai danh sach phien*/
  display: flex;
  place-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 100px;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #0f0f27,
    #212043,
    #2c4264
  ); /*nen gradient*/
  margin: 0;
  padding: 0;
}
